* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-display: swap; */
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.gray {
    color: #000;
}

.nav--logo {
    max-width: 100px;
    border-radius: 3px;
    height: 50px;
}

.nav--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero--all-text{
    padding: 50px 40px;
    background-color: rgb(51, 34, 34);
    margin: 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
    transition: margin 1s ease-in-out, background-color 1s ease-in-out;
}
  
.hero--all-text:hover {
    margin: 50px;
    background-color: #0b0a0c;
}


.hero--photo {
    width: 80vw;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
    margin-top: 10px;
}

.hero--text {
    margin-top: 0;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column; 
    position: relative;
    transition: 0.25s ease-in-out;
}

.card:hover {
    width: 180px;
}

.card--image {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 125px;
    object-fit: contain;
    border-radius: 15%;
    margin-bottom: 9px;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.about-us {
    padding: 50px 40px;
    background-color: rgb(51, 34, 34);
    margin: 75px;
    border-radius: 15px;
    color: white;
    text-align: center;
    transition: margin 1s ease-in-out, background-color 1s ease-in-out;
    line-height: 25px;
}
  
.about-us:hover {
    margin: 25px;
    background-color: #0b0a0c;
}

.footer {
    text-align: center;
    box-shadow: 0px 5px 15px black;
    color: #0b0a0c ;
    padding: 10px;
}

.card--button {
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 15px;
    color: #050505;
    border: 2px solid #000000;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out; 
}

.card--button:hover{
    background-color: #0f0f0f;
    color: #fff;
}

.button-confirm {
    margin: 15px auto;
    font-size: 15px;
    font-weight: bolder;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #c5baba;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;  
    display: flex;
    flex-direction: column;
}

.button--div{
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 15px;
    margin: 3px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #0c0c0c;
    background-color: #fff;
    transition: all 0.3s ease;
}

.button--div:hover {
    background-color: #0f0f0f;
    color: #fff;
}

.button--navigate{
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 15px;
    margin: 20px auto 50px auto;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #0c0c0c;
    background-color: #fff;
    transition: all 0.3s ease;
    display: block;

}

.button--navigate:hover {
    background-color: #0f0f0f;
    color: #fff;
}

.card--buttons {
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}

.nav--components {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 20px;
}

.nav--components a{
    color: rgb(51, 34, 34);
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    text-align: center;
    vertical-align: center;
    transition: 0.25s ease-in-out;
}

.nav--components a:hover{
    font-size: 20px;
}

.sign-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75vw;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: aliceblue;
}

ul{
    list-style-type: none;
}

.sign-up-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75vw;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: aliceblue;
}

.sign-in--input{
    position: relative;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid black;
    width: 50vw;
    max-width: 400px;
}

.sign-in--button{
    width: 75px;
    height: 50px;
    color: black;
    font-weight: bold;
    text-align: center;

    border-radius: 10px;
    border: none;
    background-color: rgb(213, 212, 243);   

    transition: 0.25s ease-in-out;
}

.sign-in--button:hover{
    box-shadow: 0 0 5px black;
}

.sign-in--links {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
}

.sign-in--link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    height: 60px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(213, 212, 243);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s ease-in-out;
}

.sign-in--link:hover{
    box-shadow: 0 0 5px black;
}

.sign-in--div {
    min-height: 100vh;
    width: 100%;

    background: linear-gradient(45deg, #4b4545, #b88a8a, rgb(217, 217, 217), #f3f3f3);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.preloader {
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloader .texts-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 280px;
    font-size: 20px;
    font-weight: 800px;
    overflow: hidden;
    color:white;
}

/*  */
.toOrder {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: #f7f7f7; /* Light Gray */
    padding: 40px;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toOrder--links {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease;
    font-weight: bolder;
}

.toOrder--links:hover {
    background-color: #333;
    color: #fff;
}

.log-out-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    
    background-color: rgb(177, 207, 233);
}

.makeOrders--div{
    background: #f7f7f7;
}


.sign-in--pass{
    padding: 5px;
    font-weight: bold;
}

.nav--select{
    padding: 5px 10px;
    margin: 0px 15px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease;
}

.nav--select:hover {
    background-color: #333;
    color: #fff;
}

.checkOut--null-text{
    text-align: center;
    padding: 50px;
    margin: 50px;
}

.gpay--button{
    display: flex;
    align-items: center;
    justify-content: center;

}
  
.contact-us{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(51, 34, 34);
    border-radius: 10px;
    margin: auto 75px;
}

.contact-phone{
    margin: 20px;
}

.contact-email{
    margin: 20px;
}

.inside-our-kitchen--div{
    background: linear-gradient(0deg, #e29e9e, #b5dbdb);
}

.inside-our-kitchen--heading{
    text-align: center;
    margin: 30px auto 50px auto;
    word-spacing: 10px;
    font-size: 50px;
}

.inside-our-kitchen--p{
    text-align: center;
    margin: 30px;
    word-spacing: 5px;
    font-size: xx-large;
    color: black;
    font-weight: bold;
    padding: 0px 175px 75px 175px;
}

.inside-our-kichen--logo{
    width: 25vw;
    padding: 30px;
    border-radius: 50px;
}

@media (max-width: 1000px) {
    .inside-our-kichen--logo{
        width: 65vw;
        padding: 30px;
        border-radius: 50px;
    }
    
}

.inside-our-kichen--images{
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 20%;
    box-shadow: 0px 5px 15px goldenrod;
}

.background-container-img1,
.background-container-img2,
.background-container-img3,
.background-container-img4 {
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-size: xx-large;
    padding: 20px;
    max-width: 75vw;
    max-height: 75vh;
    margin: 0px auto 100px auto;
    border-radius: 20px;
    padding: 200px 50px;
}

.background-container-img1 {
    background-image: url("src/images/aboutus-1.png");
}

.background-container-img2 {
    background-image: url("src/images/aboutus-2.png");
}

.background-container-img3 {
    background-image: url("src/images/aboutus-3.png");
}

.background-container-img4 {
    background-image: url("src/images/aboutus-4.png");
}

@media (max-width: 800px) {
    .sign-up-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90vw;
        height: 650px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        background-color: aliceblue;
    }

    .sign-in-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90vw;
        height: 600px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        background-color: aliceblue;
    }

    .hero--all-text {
        margin: 20px;
        background-color: #0b0a0c;
    }

    .about-us {
        margin: 25px;
        background-color: #0b0a0c;
    }
    .contact-us{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid rgb(51, 34, 34);
        border-radius: 10px;
        margin: auto 25px;
        padding: 20px
    }
    
    .contact-phone{
        margin: 15px;
    }
    
    .contact-email{
        margin: 15px;
    }

    .inside-our-kitchen--p{
        text-align: center;
        margin: 30px;
        word-spacing: 5px;
        font-size: large;
        color: black;
        font-weight: bold;
        padding: 0px 50px 75px 50px;
    }
    .background-container-img1,
    .background-container-img2,
    .background-container-img3,
    .background-container-img4 {
        background-size: cover;
        background-position: center;
        color: #ffffff;
        font-size: large;
        padding: 20px;
        max-width: 75vw;
        max-height: 75vh;
        margin: 0px auto 100px auto;
        border-radius: 20px;
        padding: 100px 50px;
    }

    
}